:root {
    --biru: rgb(133, 133, 231);
    --putih: rgb(230, 216, 192);
}

h1 {
    color: blue;
}

h2 {
    color: var(--biru);
}

table {
    border: 1px black dashed;
    margin: 2px;
    padding: 5px;
}

#tbl {
    border-radius: 10px;
    background-color: var(--biru);
}

input {
    padding: 5px;
    margin: 5px;
}