:root {
    --biru: rgb(133, 133, 231);
    --putih: rgb(230, 216, 192);
}

h1 {
    color: blue;
}

h2 {
    color: var(--biru);
}

h3 {
    color: brown;
}

table {
    border: 1px black dashed;
    margin: 2px;
    padding: 5px;
}

#tbl {
    border-radius: 10px;
    background-color: var(--biru);
}

input {
    padding: 5px;
    margin: 5px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    height: 600px;
    border: 1px dashed green;
}
.box {
    border: 1px solid black;
    flex-basis: 400px;
    height: 200px;
}

/* .box-1 {
    position: sticky;
    top: 0;
    background-color: antiquewhite;
    height: 50px;
} */

.box-5 {
    height: 150px;
}